{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>KillMyUrl </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
        
    </head>
      
    <body>  
        <form method="post">
        {% csrf_token %}
        {{ form}}
        <button class="btn-grad" type="submit">Save changes</button>
    </form>
    </body>  
</html>

